// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body & Locked
body {
    font-family: 'Inter', sans-serif;
    height: 4000px;
    &.locked {
        overflow: hidden;
    }
    // Dark mode styles
    &.dark {
        background: #242424;
    }
}


.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #F50E30;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s ease;

    &:hover {
        box-shadow: 0px 10px 34px -8px rgba(0,0,0,0.75);
        background: #c90303;
    }

    @media (max-width: $breakpoint480) {
        width: 100%;
    }
}

.h1__header-800 {
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 54px;
    text-align: center;
    color: #000000;
    
    @media (max-width: $breakpoint768) {
        font-size: 28px;
        line-height: 36px;
    }
}

.paragraph24-32 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;

}



// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        top: -50px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}
